This is a set of interview questions (`pandas`) for Sigtica.

In [1]:
# Question 1: when importing dependencies, what is the norm for pandas and numpy? import pandas as .........
import pandas as pd        # <---- as what? .......
import numpy as np         # <---- as what? .......

In [2]:
# Question 2: use pandas to read a CSV file into the runtime and call the object 'df'
dataset_url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(dataset_url)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
# Question 3: create new column in the same dataframe called "age_in_months", which multiplies "Age" by 12
df['age_in_months'] = df['Age']*12
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_in_months
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,264.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,456.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,312.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,420.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,324.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,228.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,312.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,384.0

In [4]:
# Question 3b: bonus question: try changing the dtype of "age_in_months" to "int64". Can you do it? Why or why not?
df['age_in_months'].astype('int64')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [6]:
# because int64 requires every single cell to have something in it; if there is a NaN, it will not work.
# however, if you use the .fillna(-99) command, you can after that.
df['age_in_months'].fillna(-99).astype('int64')

0      264
1      456
2      312
3      420
4      420
      ...
886    324
887    228
888    -99
889    312
890    384
Name: age_in_months, Length: 891, dtype: int64

In [7]:
# Question 4: are there missing values (NaN) in "Age"?
# Slice the dataframe to only show rows here Age is NaN (but do not overwrite the original dataframe)
df[df['Age'].isnull()==True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_in_months
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,NaN
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,NaN
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,NaN
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,NaN
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,NaN
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,NaN
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,NaN
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN

In [8]:
# Question 5: now slice the titanic dataframe so that you only see rows where Pclass==1, and save it as a new
# dataframe called df2
df2 = df[df['Pclass']==1]
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,age_in_months
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,456.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,420.0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,648.0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,696.0
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,336.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,564.0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,396.0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,672.0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,228.0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,312.0

In [9]:
# Question 6: for df2, only keep columns: Age, Name, Sex, Fare, Survived, PassengerId (in this order), overwriting df2
df2 = df2[['Age','Name','Sex','Fare','Survived','PassengerId']]
df2

,Age,Name,Sex,Fare,Survived,PassengerId
1,38.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,1,2
3,35.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,1,4
6,54.0,"McCarthy, Mr. Timothy J",male,51.8625,0,7
11,58.0,"Bonnell, Miss. Elizabeth",female,26.5500,1,12
23,28.0,"Sloper, Mr. William Thompson",male,35.5000,1,24
...,...,...,...,...,...,...
871,47.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542,1,872
872,33.0,"Carlsson, Mr. Frans Olof",male,5.0000,0,873
879,56.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583,1,880
887,19.0,"Graham, Miss. Margaret Edith",female,30.0000,1,888
889,26.0,"Behr, Mr. Karl Howell",male,30.0000,1,890

In [10]:
# Question 7: create a new column in df2 called "age_dummy", which is equal to 1 if age>27, and 0 if age<=27

# there are two ways. using np.where():
df2['age_dummy_method1'] = np.where(df2['Age']>27, 1, 0)
df2

<ipython-input-10-7908ad7fd939>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['age_dummy_method1'] = np.where(df2['Age']>27, 1, 0)

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1
1,38.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,1,2,1
3,35.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,1,4,1
6,54.0,"McCarthy, Mr. Timothy J",male,51.8625,0,7,1
11,58.0,"Bonnell, Miss. Elizabeth",female,26.5500,1,12,1
23,28.0,"Sloper, Mr. William Thompson",male,35.5000,1,24,1
...,...,...,...,...,...,...,...
871,47.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542,1,872,1
872,33.0,"Carlsson, Mr. Frans Olof",male,5.0000,0,873,1
879,56.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583,1,880,1
887,19.0,"Graham, Miss. Margaret Edith",female,30.0000,1,888,0
889,26.0,"Behr, Mr. Karl Howell",male,30.0000,1,890,0

In [11]:
# using .loc[row_indexer,col_indexer] = value
df2.loc[df2['Age']>27, 'age_dummy_method2'] = 1 # <--- this will create 1 only for age>27, but leaves age<=27 as NaN
df2['age_dummy_method2'] = df2['age_dummy_method2'].fillna(0)  # <--- this fills in 0 for age<=27
df2['age_dummy_method2'] = df2['age_dummy_method2'].astype('int64') # <--- ensures that the dummy is int64, not float64
df2

<ipython-input-11-0e5a68d8d8f9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[df2['Age']>27, 'age_dummy_method2'] = 1 # <--- this will create 1 only for age>27, but leaves age<=27 as NaN
<ipython-input-11-0e5a68d8d8f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['age_dummy_method2'] = df2['age_dummy_method2'].fillna(0)  # <--- this fills in 0 for age<=27
<ipython-input-11-0e5a68d8d8f9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['age_dummy_method2'] = df2['age_dummy_method2'].astype('int64') # <--- ensures that the dummy is int64, not float64

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2
1,38.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,1,2,1,1
3,35.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,1,4,1,1
6,54.0,"McCarthy, Mr. Timothy J",male,51.8625,0,7,1,1
11,58.0,"Bonnell, Miss. Elizabeth",female,26.5500,1,12,1,1
23,28.0,"Sloper, Mr. William Thompson",male,35.5000,1,24,1,1
...,...,...,...,...,...,...,...,...
871,47.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542,1,872,1,1
872,33.0,"Carlsson, Mr. Frans Olof",male,5.0000,0,873,1,1
879,56.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583,1,880,1,1
887,19.0,"Graham, Miss. Margaret Edith",female,30.0000,1,888,0,0
889,26.0,"Behr, Mr. Karl Howell",male,30.0000,1,890,0,0

In [12]:
# Question 8. create a new column called "group1" which is equal to 1 if (Sex is "female") AND (age is greater than 33), and 0 otherwise
df2['group1'] = np.where((df2['Age']>33)&(df2['Sex']=='female'), 1, 0)
df2

<ipython-input-12-c61024625957>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['group1'] = np.where((df2['Age']>33)&(df2['Sex']=='female'), 1, 0)

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1
1,38.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,1,2,1,1,1
3,35.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,1,4,1,1,1
6,54.0,"McCarthy, Mr. Timothy J",male,51.8625,0,7,1,1,0
11,58.0,"Bonnell, Miss. Elizabeth",female,26.5500,1,12,1,1,1
23,28.0,"Sloper, Mr. William Thompson",male,35.5000,1,24,1,1,0
...,...,...,...,...,...,...,...,...,...
871,47.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542,1,872,1,1,1
872,33.0,"Carlsson, Mr. Frans Olof",male,5.0000,0,873,1,1,0
879,56.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583,1,880,1,1,1
887,19.0,"Graham, Miss. Margaret Edith",female,30.0000,1,888,0,0,0
889,26.0,"Behr, Mr. Karl Howell",male,30.0000,1,890,0,0,0

In [13]:
# Question 9. What is the age of a passenger named "Carrau, Mr. Francisco M"?
# Give me the actual number inside the cell, using pandas (not pd.Series or pd.DataFrame)
df2[df2['Name']=="Carrau, Mr. Francisco M"]['Age'].tolist()[0]

28.0

In [14]:
# Question 10. what is the difference (type) between df2[['Name']] and df2['Name']?
df2[['Name']] # <--- pd.DataFrame

                                                  Name
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
6                              McCarthy, Mr. Timothy J
11                            Bonnell, Miss. Elizabeth
23                        Sloper, Mr. William Thompson
..                                                 ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                           Carlsson, Mr. Frans Olof
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
887                       Graham, Miss. Margaret Edith
889                              Behr, Mr. Karl Howell

[216 rows x 1 columns]

In [15]:
df2['Name'] # <--- pd.Series

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
6                                McCarthy, Mr. Timothy J
11                              Bonnell, Miss. Elizabeth
23                          Sloper, Mr. William Thompson
                             ...
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
887                         Graham, Miss. Margaret Edith
889                                Behr, Mr. Karl Howell
Name: Name, Length: 216, dtype: object

In [16]:
# Question 11. how to change the value of a specific cell(s)?
# I want to change the value of "Age" for all that Survived and are Female to 18 (18 years old)
df2.loc[(df2['Survived']==1)&(df2['Sex']=='female'),'Age'] = 18
df2

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1
1,18.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,1,2,1,1,1
3,18.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,1,4,1,1,1
6,54.0,"McCarthy, Mr. Timothy J",male,51.8625,0,7,1,1,0
11,18.0,"Bonnell, Miss. Elizabeth",female,26.5500,1,12,1,1,1
23,28.0,"Sloper, Mr. William Thompson",male,35.5000,1,24,1,1,0
...,...,...,...,...,...,...,...,...,...
871,18.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542,1,872,1,1,1
872,33.0,"Carlsson, Mr. Frans Olof",male,5.0000,0,873,1,1,0
879,18.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583,1,880,1,1,1
887,18.0,"Graham, Miss. Margaret Edith",female,30.0000,1,888,0,0,0
889,26.0,"Behr, Mr. Karl Howell",male,30.0000,1,890,0,0,0

In [17]:
# Question 12. For all missing values for "Fare", fill them with -99.
df2['Fare'] = df2['Fare'].fillna(-99)
df2

<ipython-input-17-e05e8b1d4db0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Fare'] = df2['Fare'].fillna(-99)

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1
1,18.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,1,2,1,1,1
3,18.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,1,4,1,1,1
6,54.0,"McCarthy, Mr. Timothy J",male,51.8625,0,7,1,1,0
11,18.0,"Bonnell, Miss. Elizabeth",female,26.5500,1,12,1,1,1
23,28.0,"Sloper, Mr. William Thompson",male,35.5000,1,24,1,1,0
...,...,...,...,...,...,...,...,...,...
871,18.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542,1,872,1,1,1
872,33.0,"Carlsson, Mr. Frans Olof",male,5.0000,0,873,1,1,0
879,18.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583,1,880,1,1,1
887,18.0,"Graham, Miss. Margaret Edith",female,30.0000,1,888,0,0,0
889,26.0,"Behr, Mr. Karl Howell",male,30.0000,1,890,0,0,0

In [18]:
# Question 13. write a lambda function that takes "Fare", and runs it through this function: 1000*((Fare*2)/1.5)**8 (to the power of 8).
# call this 'Fare_adjusted' as a new column in the dataframe
df2['Fare_adjusted'] = df2['Fare'].apply(lambda x: 1000*((x*2)/1.5)**8)
df2

<ipython-input-18-5223400e8118>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Fare_adjusted'] = df2['Fare'].apply(lambda x: 1000*((x*2)/1.5)**8)

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1,Fare_adjusted
1,18.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,1,2,1,1,1,6.659050e+18
3,18.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,1,4,1,1,1,6.313440e+17
6,54.0,"McCarthy, Mr. Timothy J",male,51.8625,0,7,1,1,0,5.228023e+17
11,18.0,"Bonnell, Miss. Elizabeth",female,26.5500,1,12,1,1,1,2.466188e+15
23,28.0,"Sloper, Mr. William Thompson",male,35.5000,1,24,1,1,0,2.519630e+16
...,...,...,...,...,...,...,...,...,...,...
871,18.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542,1,872,1,1,1,5.812585e+17
872,33.0,"Carlsson, Mr. Frans Olof",male,5.0000,0,873,1,1,0,3.901844e+09
879,18.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583,1,880,1,1,1,2.284308e+19
887,18.0,"Graham, Miss. Margaret Edith",female,30.0000,1,888,0,0,0,6.553600e+15
889,26.0,"Behr, Mr. Karl Howell",male,30.0000,1,890,0,0,0,6.553600e+15

In [19]:
# Question 14. Break up the "Name" column into two columns: df['last_name'] and df['given_name'] (split by comma ",")
# e.g. "McCarthy, Mr. Timothy J" ==> "McCarthy" and "Mr. Timothy J"
df2['last_name'], df2['given_name'] = zip(*df2['Name'].apply(lambda x: x.split(',')))
df2

<ipython-input-19-cd7bc1e4fdc4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['last_name'], df2['given_name'] = zip(*df2['Name'].apply(lambda x: x.split(',')))
<ipython-input-19-cd7bc1e4fdc4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['last_name'], df2['given_name'] = zip(*df2['Name'].apply(lambda x: x.split(',')))

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1,Fare_adjusted,last_name,given_name
1,18.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,71.2833,1,2,1,1,1,6.659050e+18,Cumings,Mrs. John Bradley (Florence Briggs Thayer)
3,18.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,53.1000,1,4,1,1,1,6.313440e+17,Futrelle,Mrs. Jacques Heath (Lily May Peel)
6,54.0,"McCarthy, Mr. Timothy J",male,51.8625,0,7,1,1,0,5.228023e+17,McCarthy,Mr. Timothy J
11,18.0,"Bonnell, Miss. Elizabeth",female,26.5500,1,12,1,1,1,2.466188e+15,Bonnell,Miss. Elizabeth
23,28.0,"Sloper, Mr. William Thompson",male,35.5000,1,24,1,1,0,2.519630e+16,Sloper,Mr. William Thompson
...,...,...,...,...,...,...,...,...,...,...,...,...
871,18.0,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,52.5542,1,872,1,1,1,5.812585e+17,Beckwith,Mrs. Richard Leonard (Sallie Monypeny)
872,33.0,"Carlsson, Mr. Frans Olof",male,5.0000,0,873,1,1,0,3.901844e+09,Carlsson,Mr. Frans Olof
879,18.0,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,83.1583,1,880,1,1,1,2.284308e+19,Potter,Mrs. Thomas Jr (Lily Alexenia Wilson)
887,18.0,"Graham, Miss. Margaret Edith",female,30.0000,1,888,0,0,0,6.553600e+15,Graham,Miss. Margaret Edith
889,26.0,"Behr, Mr. Karl Howell",male,30.0000,1,890,0,0,0,6.553600e+15,Behr,Mr. Karl Howell

In [20]:
# Question 15. sort this dataframe in ascending order for "Age"
df2 = df2.sort_values(by=['Age'], ascending=True)
df2

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1,Fare_adjusted,last_name,given_name
305,0.92,"Allison, Master. Hudson Trevor",male,151.5500,1,306,0,0,0,2.779441e+21,Allison,Master. Hudson Trevor
297,2.00,"Allison, Miss. Helen Loraine",female,151.5500,0,298,0,0,0,2.779441e+21,Allison,Miss. Helen Loraine
445,4.00,"Dodge, Master. Washington",male,81.8583,1,446,0,0,0,2.013778e+19,Dodge,Master. Washington
802,11.00,"Carter, Master. William Thornton II",male,120.0000,1,803,0,0,0,4.294967e+20,Carter,Master. William Thornton II
550,17.00,"Thayer, Mr. John Borland Jr",male,110.8833,1,551,0,0,0,2.282648e+20,Thayer,Mr. John Borland Jr
...,...,...,...,...,...,...,...,...,...,...,...,...
740,NaN,"Hawksford, Mr. Walter James",male,30.0000,1,741,0,0,0,6.553600e+15,Hawksford,Mr. Walter James
766,NaN,"Brewe, Dr. Arthur Jackson",male,39.6000,0,767,0,0,0,6.040479e+16,Brewe,Dr. Arthur Jackson
793,NaN,"Hoyt, Mr. William Fisher",male,30.6958,0,794,0,0,0,7.873023e+15,Hoyt,Mr. William Fisher
815,NaN,"Fry, Mr. Richard",male,0.0000,0,816,0,0,0,0.000000e+00,Fry,Mr. Richard
839,NaN,"Marechal, Mr. Pierre",male,29.7000,1,840,0,0,0,6.047300e+15,Marechal,Mr. Pierre

In [21]:
# Question 16. Reset the index of this dataframe
df2 = df2.reset_index(drop=True)
df2

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1,Fare_adjusted,last_name,given_name
0,0.92,"Allison, Master. Hudson Trevor",male,151.5500,1,306,0,0,0,2.779441e+21,Allison,Master. Hudson Trevor
1,2.00,"Allison, Miss. Helen Loraine",female,151.5500,0,298,0,0,0,2.779441e+21,Allison,Miss. Helen Loraine
2,4.00,"Dodge, Master. Washington",male,81.8583,1,446,0,0,0,2.013778e+19,Dodge,Master. Washington
3,11.00,"Carter, Master. William Thornton II",male,120.0000,1,803,0,0,0,4.294967e+20,Carter,Master. William Thornton II
4,17.00,"Thayer, Mr. John Borland Jr",male,110.8833,1,551,0,0,0,2.282648e+20,Thayer,Mr. John Borland Jr
...,...,...,...,...,...,...,...,...,...,...,...,...
211,NaN,"Hawksford, Mr. Walter James",male,30.0000,1,741,0,0,0,6.553600e+15,Hawksford,Mr. Walter James
212,NaN,"Brewe, Dr. Arthur Jackson",male,39.6000,0,767,0,0,0,6.040479e+16,Brewe,Dr. Arthur Jackson
213,NaN,"Hoyt, Mr. William Fisher",male,30.6958,0,794,0,0,0,7.873023e+15,Hoyt,Mr. William Fisher
214,NaN,"Fry, Mr. Richard",male,0.0000,0,816,0,0,0,0.000000e+00,Fry,Mr. Richard
215,NaN,"Marechal, Mr. Pierre",male,29.7000,1,840,0,0,0,6.047300e+15,Marechal,Mr. Pierre

In [22]:
# Question 17. chop this dataframe into 3 chunks:
# chunk 1: 0 to 100th row
# chunk 2: 101st to 200th row
# chunk 3: everything else beyond the 200th row
# call them chunk1, chunk2, chunk3
chunk1 = df2[0:100]
chunk2 = df2[100:200]
chunk3 = df2[200:]
print('chunk1', len(chunk1))
print('chunk2',len(chunk2))
print('chunk3',len(chunk3))

chunk1 100
chunk2 100
chunk3 16

In [23]:
# Question 18. then concat these 3 dataframes vertically so that the final product
# is the SAME as the original df2 dataframe, and call this
# concat dataframe "df3"
df3 = pd.concat([chunk1, chunk2, chunk3])
df3

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1,Fare_adjusted,last_name,given_name
0,0.92,"Allison, Master. Hudson Trevor",male,151.5500,1,306,0,0,0,2.779441e+21,Allison,Master. Hudson Trevor
1,2.00,"Allison, Miss. Helen Loraine",female,151.5500,0,298,0,0,0,2.779441e+21,Allison,Miss. Helen Loraine
2,4.00,"Dodge, Master. Washington",male,81.8583,1,446,0,0,0,2.013778e+19,Dodge,Master. Washington
3,11.00,"Carter, Master. William Thornton II",male,120.0000,1,803,0,0,0,4.294967e+20,Carter,Master. William Thornton II
4,17.00,"Thayer, Mr. John Borland Jr",male,110.8833,1,551,0,0,0,2.282648e+20,Thayer,Mr. John Borland Jr
...,...,...,...,...,...,...,...,...,...,...,...,...
211,NaN,"Hawksford, Mr. Walter James",male,30.0000,1,741,0,0,0,6.553600e+15,Hawksford,Mr. Walter James
212,NaN,"Brewe, Dr. Arthur Jackson",male,39.6000,0,767,0,0,0,6.040479e+16,Brewe,Dr. Arthur Jackson
213,NaN,"Hoyt, Mr. William Fisher",male,30.6958,0,794,0,0,0,7.873023e+15,Hoyt,Mr. William Fisher
214,NaN,"Fry, Mr. Richard",male,0.0000,0,816,0,0,0,0.000000e+00,Fry,Mr. Richard
215,NaN,"Marechal, Mr. Pierre",male,29.7000,1,840,0,0,0,6.047300e+15,Marechal,Mr. Pierre

In [24]:
# Question 19. Group the dataframe t3 by 'Sex' and call it "grouped", then get a list of the keys
grouped = df3.groupby('Sex')
list(grouped.groups.keys())

['female', 'male']

In [25]:
# Question 20. Get the 'male' dataframe from the grouped
grouped.get_group('male')

,Age,Name,Sex,Fare,Survived,PassengerId,age_dummy_method1,age_dummy_method2,group1,Fare_adjusted,last_name,given_name
0,0.92,"Allison, Master. Hudson Trevor",male,151.5500,1,306,0,0,0,2.779441e+21,Allison,Master. Hudson Trevor
2,4.00,"Dodge, Master. Washington",male,81.8583,1,446,0,0,0,2.013778e+19,Dodge,Master. Washington
3,11.00,"Carter, Master. William Thornton II",male,120.0000,1,803,0,0,0,4.294967e+20,Carter,Master. William Thornton II
4,17.00,"Thayer, Mr. John Borland Jr",male,110.8833,1,551,0,0,0,2.282648e+20,Thayer,Mr. John Borland Jr
30,18.00,"Penasco y Castellana, Mr. Victor de Satode",male,108.9000,0,506,0,0,0,1.975754e+20,Penasco y Castellana,Mr. Victor de Satode
...,...,...,...,...,...,...,...,...,...,...,...,...
211,NaN,"Hawksford, Mr. Walter James",male,30.0000,1,741,0,0,0,6.553600e+15,Hawksford,Mr. Walter James
212,NaN,"Brewe, Dr. Arthur Jackson",male,39.6000,0,767,0,0,0,6.040479e+16,Brewe,Dr. Arthur Jackson
213,NaN,"Hoyt, Mr. William Fisher",male,30.6958,0,794,0,0,0,7.873023e+15,Hoyt,Mr. William Fisher
214,NaN,"Fry, Mr. Richard",male,0.0000,0,816,0,0,0,0.000000e+00,Fry,Mr. Richard
215,NaN,"Marechal, Mr. Pierre",male,29.7000,1,840,0,0,0,6.047300e+15,Marechal,Mr. Pierre

In [26]:
# Question 21. create two separate dataframes from df2
# t1 = dataframe 1: only includes Fare and Name
# t2 = dataframe 2: only includes Name and Sex
# use concat axis=1 to horizontally concat them so that you have a final dataframe of 4 columns: Fare, Name, Name, Sex
# please check to make sure the rows are also 216, like the original dataset
t1 = df2[['Fare','Name']]
t2 = df2[['Name', 'Sex']]
pd.concat([t1, t2], axis=1)

,Fare,Name,Name,Sex
0,151.5500,"Allison, Master. Hudson Trevor","Allison, Master. Hudson Trevor",male
1,151.5500,"Allison, Miss. Helen Loraine","Allison, Miss. Helen Loraine",female
2,81.8583,"Dodge, Master. Washington","Dodge, Master. Washington",male
3,120.0000,"Carter, Master. William Thornton II","Carter, Master. William Thornton II",male
4,110.8833,"Thayer, Mr. John Borland Jr","Thayer, Mr. John Borland Jr",male
...,...,...,...,...
211,30.0000,"Hawksford, Mr. Walter James","Hawksford, Mr. Walter James",male
212,39.6000,"Brewe, Dr. Arthur Jackson","Brewe, Dr. Arthur Jackson",male
213,30.6958,"Hoyt, Mr. William Fisher","Hoyt, Mr. William Fisher",male
214,0.0000,"Fry, Mr. Richard","Fry, Mr. Richard",male
215,29.7000,"Marechal, Mr. Pierre","Marechal, Mr. Pierre",male

In [27]:
# Question 22. This time use the "merge" feature to merge t1 with t2 using on=["Name"]. How come there are only 3 columns?
t1.merge(t2, on=['Name'])

         Fare                                 Name     Sex
0    151.5500       Allison, Master. Hudson Trevor    male
1    151.5500         Allison, Miss. Helen Loraine  female
2     81.8583            Dodge, Master. Washington    male
3    120.0000  Carter, Master. William Thornton II    male
4    110.8833          Thayer, Mr. John Borland Jr    male
..        ...                                  ...     ...
211   30.0000          Hawksford, Mr. Walter James    male
212   39.6000            Brewe, Dr. Arthur Jackson    male
213   30.6958             Hoyt, Mr. William Fisher    male
214    0.0000                     Fry, Mr. Richard    male
215   29.7000                 Marechal, Mr. Pierre    male

[216 rows x 3 columns]

In [28]:
# Question 23. create a new dataframe t3 which only keeps the first 100 rows, then merge with t2 again. what do you see?
# t3.merge(t2, on=["Name"])
t3 = t1[0:100]
t3.merge(t2, on=["Name"])

        Fare                                       Name     Sex
0   151.5500             Allison, Master. Hudson Trevor    male
1   151.5500               Allison, Miss. Helen Loraine  female
2    81.8583                  Dodge, Master. Washington    male
3   120.0000        Carter, Master. William Thornton II    male
4   110.8833                Thayer, Mr. John Borland Jr    male
..       ...                                        ...     ...
95   77.9583       Hogeboom, Mrs. John C (Anna Andrews)  female
96  120.0000  Carter, Mrs. William Ernest (Lucile Polk)  female
97   53.1000                  Marvin, Mr. Daniel Warner    male
98  263.0000             Fortune, Mr. Charles Alexander    male
99   77.2875                  White, Mr. Richard Frasar    male

[100 rows x 3 columns]

In [29]:
# Question 24. how to transpose matrix so that the columns become rows and the rows become columns? (using df2)
df2.T

,0,1,2,3,4,5,6,7,8,9,...,206,207,208,209,210,211,212,213,214,215
Age,0.92,2.0,4.0,11.0,17.0,18.0,18.0,18.0,18.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name,"Allison, Master. Hudson Trevor","Allison, Miss. Helen Loraine","Dodge, Master. Washington","Carter, Master. William Thornton II","Thayer, Mr. John Borland Jr","Cumings, Mrs. John Bradley (Florence Briggs Th...","Aubart, Mme. Leontine Pauline","Warren, Mrs. Frank Manley (Anna Sophia Atkinson)","Bowerman, Miss. Elsie Edith","Fortune, Miss. Alice Elizabeth",...,"Farthing, Mr. John","Robbins, Mr. Victor","Harrington, Mr. Charles H","Parr, Mr. William Henry Marsh","Klaber, Mr. Herman","Hawksford, Mr. Walter James","Brewe, Dr. Arthur Jackson","Hoyt, Mr. William Fisher","Fry, Mr. Richard","Marechal, Mr. Pierre"
Sex,male,female,male,male,male,female,female,female,female,female,...,male,male,male,male,male,male,male,male,male,male
Fare,151.55,151.55,81.8583,120.0,110.8833,71.2833,69.3,75.25,55.0,263.0,...,221.7792,227.525,42.4,0.0,26.55,30.0,39.6,30.6958,0.0,29.7
Survived,1,0,1,1,1,1,1,1,1,1,...,0,0,0,0,0,1,0,0,0,1
PassengerId,306,298,446,803,551,2,370,367,357,342,...,528,558,603,634,712,741,767,794,816,840
age_dummy_method1,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
age_dummy_method2,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
group1,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Fare_adjusted,2779440737079314612224.0,2779440737079314612224.0,20137783249659346944.0,429496729600000000000.0,228264845966942011392.0,6659049867258590208.0,5313439864484218880.0,10269798605169104896.0,836394963206827776.0,228641931778828938510336.0,...,58462366787011325460480.0,71736944896963757735936.0,104336615682099280.0,0.0,2466187522872191.5,6553600000000000.0,60404790201576480.0,7873023452249509.0,0.0,6047299629402819.0
last_name,Allison,Allison,Dodge,Carter,Thayer,Cumings,Aubart,Warren,Bowerman,Fortune,...,Farthing,Robbins,Harrington,Parr,Klaber,Hawksford,Brewe,Hoyt,Fry,Marechal
given_name,Master. Hudson Trevor,Miss. Helen Loraine,Master. Washington,Master. William Thornton II,Mr. John Borland Jr,Mrs. John Bradley (Florence Briggs Thayer),Mme. Leontine Pauline,Mrs. Frank Manley (Anna Sophia Atkinson),Miss. Elsie Edith,Miss. Alice Elizabeth,...,Mr. John,Mr. Victor,Mr. Charles H,Mr. William Henry Marsh,Mr. Herman,Mr. Walter James,Dr. Arthur Jackson,Mr. William Fisher,Mr. Richard,Mr. Pierre

In [30]:
# Question 25. how to get a list of column names of df2?
df2.columns.tolist()

['Age',
 'Name',
 'Sex',
 'Fare',
 'Survived',
 'PassengerId',
 'age_dummy_method1',
 'age_dummy_method2',
 'group1',
 'Fare_adjusted',
 'last_name',
 'given_name']